#container {
    border: 2px solid red;
}

.row {
    display: flex;
}

.col {
    border: 2px solid blue;
    background-color: lightgray;
    padding: 15px;
}

/* 
    by default => 100% = 33.333333% 
*/

.col-1 {
    width: 50%;
}
.col-2 {
    width: 50%;
}
.col-3 {
    width: 33%;
}