#slideshow {
    height: 500px;
    background-image: url("../../images/WebImages/awesome-wallpapers-6482-6759-hd-wallpapers.jpg");
    background-size: 100% 100%;
    animation: slider 10s infinite linear;
}

@keyframes slider {
    0% {
        background-image: url("../../images/WebImages/awesome-wallpapers-6482-6759-hd-wallpapers.jpg");    
    }
    20% {
        background-image: url("../../images/WebImages/thor-the-dark-world-5a.jpg");
    }
    40% {
        background-image: url("../../images/WebImages/Terminator002.jpg");
    }
    60% {
        background-image: url("../../images/NewImages/3d-abstract-dead-city-wallpaper.jpg");
    }
    80% {
        background-image: url("../../images/NewImages/NiiP10g.png")
    }
    100% {
        background-image: url("../../images/WebImages/awesome-wallpapers-6482-6759-hd-wallpapers.jpg");    
    }
}