#cube {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    transform-style: preserve-3d;
    /* perspective: 500px; */
    transition-duration: 10s;
    animation: cube 10s infinite linear;
}

@keyframes cube {
    0% {
        transform: rotate3d(0,0,0,360deg);
    }
    100% {
        transform: rotate3d(1,1,1,360deg);
    }
}

#cube:hover{
    transform: rotateY(360deg);
}
#cube div {
    height: 300px;
    width: 300px;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid red;
    color: #fff;
    font-size: 60px;
    position: absolute;
}

#left {
    transform: rotateY(90deg);
    transform-origin: left;
}
#right {
    transform: rotateY(-90deg);
    transform-origin: right;
}
#top {
    transform: rotateX(-90deg);
    transform-origin: top;
}
#bottom {
    transform: rotateX(90deg);
    transform-origin: bottom;
}
#back {
    transform: translateZ(-300px);
}